.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.settingsButton {
  border: 2px solid #95d2ec;
  color: #47abd8;
  background: none;
  padding: 0.75rem 0;
  width: 6rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
